body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(222, 218, 218);
}
header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
}
nav,
ul,
a {
  display: flex;
  color: white;
  list-style: none;
  gap: 2rem;
  margin-left: auto;
  font-style: none;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration-style: bold;
}

#sectionOne {
  background: linear-gradient(135deg, blue, blueviolet, purple);
  padding: 2rem;
  width: 70rem;
  margin: 2.5%;
  border-radius: 12px;
  color: var(--color-text-section1);
}
#sectionText {
  color: var(--color-text-section1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  gap: 2rem;
}
.dots {
  display: inline;
  justify-content: center;
  text-align: center;
  font-size: 45px;
  opacity: 0.2;
  line-height: 45px;
  letter-spacing: 5px;
}

.description {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 40.8px;
  margin-bottom: -20px;
  margin-top: -20px;
  padding-top: 20px;
  letter-spacing: -0.6px;
}
.descriptionUnderline {
  background-image: url('./svgFiles/underline.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  font-size: 1.25rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 40.8px;
  margin-top: -30px;
  letter-spacing: -0.6px;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 14px 24px;
  display: grid;
  text-align: center;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  font-size: 18px;
  border-radius: 8px;
  width: 200px;
}
