*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: rgb(165, 158, 158);
  --color-text-section1: rgb(255, 255, 255);
}

body {
  background: rgb(159, 154, 154);
}
h1,
h2 {
  font-size: 45px;
  display: block;
  word-spacing: 5px;
  letter-spacing: 1px;
  line-height: 40.8px;
  margin-bottom: -20px;
  margin-top: -20px;
  padding-top: 20px;
}
